@model HomeVM
<!-- Background Area Start -->
<section id="slider-container" class="slider-area two">
    <div class="slider-owl owl-theme owl-carousel">
        <!-- Start Slingle Slide -->

        @foreach (var item in Model.Sliders)
        {
            <div class="single-slide item" style="background-image: url(/img/slider/@item.Image)">
                <!-- Start Slider Content -->
                <div class="slider-content-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1">
                                <div class="slide-content-wrapper">
                                    <div class="slide-content text-center">
                                        <h2>@item.Tittle </h2>
                                        <p>@item.Text</p>
                                        <a class="default-btn" asp-controller="About" asp-action="Index">Learn more</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- Start Slider Content -->
            </div>
        }


        <!-- End Slingle Slide -->
    </div>
</section>
<!-- Background Area End -->
<!-- Service Start -->
<div class="service-area two pt-150 pb-150">
    <div class="container">
        <div class="row">
            @foreach (var item in Model.Services)
            {
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <div class="single-service">
                        <h3><a href="teacher.html">@item.Tittle</a></h3>
                        <p>@item.Text </p>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Service End -->
<!-- About Start -->

@await Component.InvokeAsync("Welcome")

<!-- About End -->
<!-- Courses Area Start -->
<div class="courses-area two pt-150 pb-150 text-center">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section1.png" alt="section-title">
                    <h2>COURSES WE OFFER</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img/course/course1.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">CSE ENGINEERING</a></h3>
                        <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                        <a class="default-btn" href="course-details.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img/course/course2.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">political science</a></h3>
                        <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                        <a class="default-btn" href="course-details.html">read more</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 hidden-sm col-xs-12">
                <div class="single-course">
                    <div class="course-img">
                        <a href="course-details.html">
                            <img src="~/img/course/course3.jpg" alt="course">
                            <div class="course-hover">
                                <i class="fa fa-link"></i>
                            </div>
                        </a>
                    </div>
                    <div class="course-content">
                        <h3><a href="course-details.html">micro biology</a></h3>
                        <p>I must explain to you how all this a mistaken idea of denouncing great explorer of the rut the is lder of human happiness</p>
                        <a class="default-btn" href="course-details.html">read more</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Courses Area End -->
<!-- Notice Start -->
@await Component.InvokeAsync("NoticeBoard")

<!-- Notice End -->
<!-- Event Area Start -->
<div class="event-area two text-center pt-100 pb-145">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>UPCOMMING EVENTS</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @foreach (var _event in Model.Events)
            {
                <div class="single-event hidden-xs col-md-6 col-sm-12 col-xs-12">
                    <div style="width:214px; height:197px; object-fit:contain; overflow:hidden" class="event-img">
                        <a asp-controller="Event" asp-action="EventDetail" asp-route-id="@_event.Id"><img style="height:100%" src="~/img/event/@_event.EventImage.Photo" alt="event"></a>
                    </div>
                    <div class="event-content text-left">
                        <h3>@_event.StartTime?.ToString("dd MMMM yyyy")</h3>
                        <h4><a asp-controller="Event" asp-action="EventDetail" asp-route-id="@_event.Id">@_event.Name</a></h4>
                        <ul>
                            <li><i class="fa fa-clock-o"></i>@_event.StartTime?.ToString("h:mm tt") - @_event.EndTime?.ToString("h:mm tt")</li>
                            <li><i class="fa fa-map-marker"></i>@_event.Venue</li>
                        </ul>
                        <div class="event-content-right">
                            <a class="default-btn" asp-controller="Event" asp-action="EventDetail" asp-route-id="@_event.Id">join now</a>
                        </div>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
<!-- Event Area End -->
<!-- Testimonial Area Start -->
@await Component.InvokeAsync("Testimonial");
<!-- Testimonial Area End -->
<!-- Blog Area Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="section-title text-center">
                    <img src="~/img/icon/section.png" alt="section-title">
                    <h2>LATEST FROM BLOG</h2>
                </div>
            </div>
        </div>
        <div class="row">
          @await Component.InvokeAsync("Blog", 3) 
         </div>
    </div>
</div>
<!-- Blog Area End -->
<!-- Subscribe Start -->
@await Component.InvokeAsync("Newsteller")
<!-- Subscribe End -->
